html,body{
    height:100%;
    margin: 0px;
}

body{
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  background-color: black;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.cover_logo{
    border-color: black;
    width: 500px;
    height: 500px;  
    border-radius: 14px;
}
h1, h2 {
  margin: 0;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  border: #742315;
  border-style: solid;
  border-radius: 5px;
  background-color: #a2311d;
  height: 30px;
  line-height: 30px;
  width: 200px;
  margin-top: -15px;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.divider {
  width: 100px;
  height: 3px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #ffcea3;
}

input,
textarea {
  position: relative;
  text-align: center;
  display: block;
  margin: 0;
  border-radius: 7px;
  border: 2px #a74f40 solid;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 100%;
  color: #1E1C29;
  margin-bottom: 20px;
  margin-top: 5px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px #742315 groove;
  width: 100%;
  background-color: white;
}

.container {
  background: linear-gradient(145deg, rgba(240,13,116,1) 0%, rgba(242,121,78,1) 50%, rgba(242,160,65,1) 100%);
  width: 300px;
  border-radius: 14px;
  padding: 30px 30px 20px 30px;
  backdrop-filter: grayscale(20%);
}

input[name="amount"] {
  font-size: 20px;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit-btn {
  display: block;
  text-decoration: none;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: 2px #00000029 solid;
  color: white;
  background-color: #a2311d;
  /* background-color: inherit; */
  padding: 15px;
  transition: all 0.5s ease;
}

#submit-btn:hover {
  border: 2px #00000029 solid;
  background-color: #742315;
}

#submit-btn:disabled {
  border: 2px rgba(255, 255, 255, 0.1) solid;
  background-color: rgba(255, 255, 255, 0.1);
}

textarea[name="address"] {
  resize: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 2.7rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px ;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 300px;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  /* transform: skew(-10deg); */
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #a2311d;
  border-radius: 5px;
  border: 2px #00000049 solid;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  /* transform: skew(10deg); */
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(toggle-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(toggle-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #5e1c10;
}
.tgl-skewed:checked + .tgl-btn:active {
  background: #5e1c10;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #a2311d;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.spinner{
  display: none;
  color: #a2311d;
}

.depwit{
  border-color: #a2311d;
  border-style:solid;
  border-radius: 10px;
  background: inherit;
  backdrop-filter: contrast(90%) brightness(80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

[type="number"]{
  width: 200px;
}
[type="number"]:focus{
  width: 90%;
}

.settings{
  position: absolute;
  right: 15px;
  top: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.balance{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.balance i{
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

#user-rate{
  width: 90%;
}

.settingscontainer{
  display: none;
  animation: fade_in_show 0.5s;
  color: #fff;
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
          transform: scale(0)
     }

     100% {
          opacity: 1;
          transform: scale(1)
     }
}
@keyframes fade_out_show {
     100% {
          opacity: 0;
          transform: scale(0)
     }

     0% {
          opacity: 1;
          transform: scale(1)
     }
}

@keyframes rotate {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: -360deg;
  }
}